.profile__edit-button {
    background-color: black;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    right: -30px;
    position: absolute;
    top: 15px;
    /* background: url("../../../images/Edit\ Button.svg"); */
}

@media (max-width: 767px) {
    .profile__edit-button {
        top: 9px;
        width: 18px;
        height: 18px;
        padding: 5.25px;
    }
}