.form__button-save {
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    height: 50px;
    opacity: 1;
    transition: opacity 1s;
}

.form__button-save:hover{
    opacity: 0.8;
}