.element__heart {
  opacity: 1;
  transition: opacity 1s;
  background-color: white;
  outline: 0;
  border: none;
  padding: 0;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.5;
}
